#firebase
.env

# Ignore __pycache__ and .pyc files
__pycache__/
*.pycgi

#一時動画、画像保管フォルダ
video/
frame/
static/
=======

lucid-diode-439104-e7-8cb09e636493.json
sechack365forenjo-firebase-adminsdk-lru89-c607120eac.json
